<%= form_for :forums, :url => { :action => :forosPorCurso } do |f| %>


<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <ul class="nav navbar-nav">
  <li><%= link_to "Ir a eventos", controller: "events", action: "eventosPorCurso", courseid:  @forums.pluck(:course)%></li>
 <li><%= link_to "Ir a material", controller: "resources", action: "recursosPorCurso", course:  @forums.pluck(:course)%></li>
</ul>
</div>
</nav>



<%= stylesheet_link_tag "basePantallas" %>
<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1>Foros</h1></div>
</div>


<% @forums.each do |forums| %>

<div class="row area">

  <%= link_to forums.name, {controller: "forum_discussions", action: "discusionesPorForo", forum: forums.id}, class: "area" %>


</div>

<% end %>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#"></a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#">Mis Cursos</a></li>
     <li><a href="#">Buscar Cursos</a></li>
     <li><a href="#">Mi Usuario</a></li>
     <li><a href="#">Mis Mensajes</a></li>
   </ul>
 </div>
</nav>



<% end %>
