<%= form_for :forums, :url => { :action => :forosPorCurso } do |f| %>


<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <ul class="nav navbar-nav">
  <li><%= link_to "Ir a eventos", controller: "events", action: "eventosPorCurso", courseid:  @forums.pluck(:course)%></li>
 <li><%= link_to "Ir a material", controller: "resources", action: "recursosPorCurso", course:  @forums.pluck(:course)%></li>
</ul>
</div>
</nav>



<%= stylesheet_link_tag "basePantallas" %>
<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1>Foros</h1></div>
</div>


<% @forums.each do |forums| %>

<div class="row area">

  <%= link_to forums.name, {controller: "forum_discussions", action: "discusionesPorForo", forum: forums.id}, class: "area" %>


</div>

<% end %>


</div>

<nav class="footerMa navbar ">

     <li class="col-lg-6">Mis Cursos</li>
     <li class="col-lg-6">Mis Cursos</li>

</nav>

</nav>



<% end %>
