<%= form_for :forums, :url => { :action => :forosPorCurso } do |f| %>

<nav class="header navbar">
  <li class="nav-item col-lg-6"><%= link_to "Ir a eventos", controller: "events", action: "eventosPorCurso", courseid:  @forums.pluck(:course)%></li>
  <li class="nav-item col-lg-6"><%= link_to "Ir a material", controller: "resources", action: "recursosPorCurso", course:  @forums.pluck(:course)%></li>
</nav>


<%= stylesheet_link_tag "basePantallas" %>
<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1>Foros</h1></div>
</div>


<% @forums.each do |forums| %>

<div class="row area">

  <%= link_to forums.name, {controller: "forum_discussions", action: "discusionesPorForo", forum: forums.id}, class: "area" %>


</div>

<% end %>


</div>

<% end %>
<nav class= "footer navbar" >

     <li class="nav-item col-lg-6"><%= link_to "Mis cursos", {controller: "contexts", action: "course", id:  cookies[:userid]} %></li>
     <li class="nav-item col-lg-6"><%= link_to "Buscar cursos", {controller: "courses", action: "buscar", id: cookies[:courseId]} %></li>

</nav>
