<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @forum.course %>
</p>

<p>
  <strong>Type:</strong>
  <%= @forum.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @forum.name %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @forum.intro %>
</p>

<p>
  <strong>Introformat:</strong>
  <%= @forum.introformat %>
</p>

<p>
  <strong>Assessed:</strong>
  <%= @forum.assessed %>
</p>

<p>
  <strong>Assesstimestart:</strong>
  <%= @forum.assesstimestart %>
</p>

<p>
  <strong>Assesstimefinish:</strong>
  <%= @forum.assesstimefinish %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @forum.scale %>
</p>

<p>
  <strong>Maxbytes:</strong>
  <%= @forum.maxbytes %>
</p>

<p>
  <strong>Maxattachments:</strong>
  <%= @forum.maxattachments %>
</p>

<p>
  <strong>Forcesubscribe:</strong>
  <%= @forum.forcesubscribe %>
</p>

<p>
  <strong>Trackingtype:</strong>
  <%= @forum.trackingtype %>
</p>

<p>
  <strong>Rsstype:</strong>
  <%= @forum.rsstype %>
</p>

<p>
  <strong>Rssarticles:</strong>
  <%= @forum.rssarticles %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @forum.timemodified %>
</p>

<p>
  <strong>Warnafter:</strong>
  <%= @forum.warnafter %>
</p>

<p>
  <strong>Blockafter:</strong>
  <%= @forum.blockafter %>
</p>

<p>
  <strong>Blockperiod:</strong>
  <%= @forum.blockperiod %>
</p>

<p>
  <strong>Completiondiscussions:</strong>
  <%= @forum.completiondiscussions %>
</p>

<p>
  <strong>Completionreplies:</strong>
  <%= @forum.completionreplies %>
</p>

<p>
  <strong>Completionposts:</strong>
  <%= @forum.completionposts %>
</p>

<p>
  <strong>Displaywordcount:</strong>
  <%= @forum.displaywordcount %>
</p>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
