<p id="notice"><%= notice %></p>

<p>
  <strong>Contenthash:</strong>
  <%= @mdl_file.contenthash %>
</p>

<p>
  <strong>Pathnamehash:</strong>
  <%= @mdl_file.pathnamehash %>
</p>

<p>
  <strong>Contextid:</strong>
  <%= @mdl_file.contextid %>
</p>

<p>
  <strong>Component:</strong>
  <%= @mdl_file.component %>
</p>

<p>
  <strong>Filearea:</strong>
  <%= @mdl_file.filearea %>
</p>

<p>
  <strong>Itemid:</strong>
  <%= @mdl_file.itemid %>
</p>

<p>
  <strong>Filepath:</strong>
  <%= @mdl_file.filepath %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @mdl_file.filename %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @mdl_file.userid %>
</p>

<p>
  <strong>Filesize:</strong>
  <%= @mdl_file.filesize %>
</p>

<p>
  <strong>Mimetype:</strong>
  <%= @mdl_file.mimetype %>
</p>

<p>
  <strong>Status:</strong>
  <%= @mdl_file.status %>
</p>

<p>
  <strong>Source:</strong>
  <%= @mdl_file.source %>
</p>

<p>
  <strong>Author:</strong>
  <%= @mdl_file.author %>
</p>

<p>
  <strong>License:</strong>
  <%= @mdl_file.license %>
</p>

<p>
  <strong>Timecreated:</strong>
  <%= @mdl_file.timecreated %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @mdl_file.timemodified %>
</p>

<p>
  <strong>Sortorder:</strong>
  <%= @mdl_file.sortorder %>
</p>

<p>
  <strong>Referencefileid:</strong>
  <%= @mdl_file.referencefileid %>
</p>

<%= link_to 'Edit', edit_mdl_file_path(@mdl_file) %> |
<%= link_to 'Back', mdl_files_path %>
