<p id="notice"><%= notice %></p>

<p>
  <strong>Auth:</strong>
  <%= @user.auth %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @user.confirmed %>
</p>

<p>
  <strong>Policyagreed:</strong>
  <%= @user.policyagreed %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @user.deleted %>
</p>

<p>
  <strong>Suspended:</strong>
  <%= @user.suspended %>
</p>

<p>
  <strong>Mnethostid:</strong>
  <%= @user.mnethostid %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Idnumber:</strong>
  <%= @user.idnumber %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Emailstop:</strong>
  <%= @user.emailstop %>
</p>

<p>
  <strong>Icq:</strong>
  <%= @user.icq %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @user.skype %>
</p>

<p>
  <strong>Yahoo:</strong>
  <%= @user.yahoo %>
</p>

<p>
  <strong>Aim:</strong>
  <%= @user.aim %>
</p>

<p>
  <strong>Msn:</strong>
  <%= @user.msn %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @user.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @user.phone2 %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @user.institution %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @user.lang %>
</p>

<p>
  <strong>Calendartype:</strong>
  <%= @user.calendartype %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @user.theme %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @user.timezone %>
</p>

<p>
  <strong>Firstaccess:</strong>
  <%= @user.firstaccess %>
</p>

<p>
  <strong>Lastaccess:</strong>
  <%= @user.lastaccess %>
</p>

<p>
  <strong>Lastlogin:</strong>
  <%= @user.lastlogin %>
</p>

<p>
  <strong>Currentlogin:</strong>
  <%= @user.currentlogin %>
</p>

<p>
  <strong>Lastip:</strong>
  <%= @user.lastip %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @user.secret %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @user.picture %>
</p>

<p>
  <strong>Url:</strong>
  <%= @user.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Descriptionformat:</strong>
  <%= @user.descriptionformat %>
</p>

<p>
  <strong>Mailformat:</strong>
  <%= @user.mailformat %>
</p>

<p>
  <strong>Maildigest:</strong>
  <%= @user.maildigest %>
</p>

<p>
  <strong>Maildisplay:</strong>
  <%= @user.maildisplay %>
</p>

<p>
  <strong>Autosubscribe:</strong>
  <%= @user.autosubscribe %>
</p>

<p>
  <strong>Trackforums:</strong>
  <%= @user.trackforums %>
</p>

<p>
  <strong>Timecreated:</strong>
  <%= @user.timecreated %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @user.timemodified %>
</p>

<p>
  <strong>Trustbitmask:</strong>
  <%= @user.trustbitmask %>
</p>

<p>
  <strong>Imagealt:</strong>
  <%= @user.imagealt %>
</p>

<p>
  <strong>Lastnamephonetic:</strong>
  <%= @user.lastnamephonetic %>
</p>

<p>
  <strong>Firstnamephonetic:</strong>
  <%= @user.firstnamephonetic %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @user.middlename %>
</p>

<p>
  <strong>Alternatename:</strong>
  <%= @user.alternatename %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
