
<%= form_for :events, :url => { :action => :enviarCorreo } do |f| %>

<%= stylesheet_link_tag "basePantallas" %>

<nav class="header navbar">
  <li class="nav-item col-lg-6"><%= link_to "Ir a material", controller: "resources", action: "recursosPorCurso", course: params[:courseid]%></li>
  <li class="nav-item col-lg-6" ><%= link_to "Ir a foros", controller: "forums", action: "forosPorCurso", course: params[:courseid]%></li>
</nav>

<div class="contenido container-fluid">
  <div class="row">
    <div class="col-md-12 titulo"><h1> <%= @events.first.name %>  </h1></div>
  </div>

  <% @events.each do |e| %>
  <div class="row">
    <div class="col-lg-12 area"> <%= e.name %> </div>
    <div class="col-lg-12 area"> <%= e.timestart %> </div>
    <div class="col-lg-12 area"> <%= e.timemodified %></div>
  </div>
  <% end %>

  <%= submit_tag 'Enviar Correo', class: 'btn btn-default' %>



</div>

<% end %>
<nav class= "footer navbar" >


     <li class="nav-item col-lg-6"><%= link_to "Buscar cursos", {controller: "courses", action: "buscar", id: cookies[:courseId]} %></li>

</nav>
