<%= form_for :resources, :url => { :action => :recursosPorCurso } do |f| %>


<%= stylesheet_link_tag "basePantallas" %>

<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <ul class="nav navbar-nav">
  <li><%= link_to "Volver a mis cursos", :back%></li>
 <li><%= link_to "Ir a eventos", controller: "events", action: "eventosPorCurso", courseid:  params[:course]%></li>
</ul>
</div>
</nav>

<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1>Materiales</h1></div>
</div>
<% @resources.each do |resources| %>
<div class="row">


    <div class="col-lg-12 area"> <%= resources.name %></div>


</div>
<% end %>

</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#"></a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#">Mis Cursos</a></li>
     <li><a href="#">Buscar Cursos</a></li>
     <li><a href="#">Mi Usuario</a></li>
     <li><a href="#">Mis Mensajes</a></li>
   </ul>
 </div>
</nav>
<% end %>
