<%= form_for :resources, :url => { :action => :recursosPorCurso } do |f| %>


<%= stylesheet_link_tag "basePantallas" %>

<nav class="header navbar">
     <li class="nav-item col-lg-6"><%= link_to "Volver a mis cursos", :back%></li>
     <li class="nav-item col-lg-6"><%= link_to "Ir a eventos", controller: "events", action: "eventosPorCurso", courseid:  params[:course]%></li>
</nav>

<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1>Materiales</h1></div>
</div>
<% @resources.each do |resources| %>
<div class="row area">

 <%= link_to resources.name, {controller: "resources", action: "descarga",  course: resources.course, timemodified: resources.timemodified}, class: "area" %>


</div>
<% end %>

</div>


<nav class= "footer navbar" >

     <li class="nav-item col-lg-6"><%= link_to "Mis cursos", {controller: "contexts", action: "course", id:  cookies[:userid]} %></li>
     <li class="nav-item col-lg-6"><%= link_to "Buscar cursos", {controller: "courses", action: "buscar", id: params[:course]} %></li>

</nav>
<% end %>
