<%= form_for :resources, :url => { :action => :recursosPorCurso } do |f| %>


<%= stylesheet_link_tag "basePantallas" %>

<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <ul class="nav navbar-nav">
  <li><%= link_to "Volver a mis cursos", :back%></li>
 <li><%= link_to "Ir a eventos", controller: "events", action: "eventosPorCurso", courseid:  params[:course]%></li>
</ul>
</div>
</nav>

<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1>Materiales</h1></div>
</div>
<% @resources.each do |resources| %>
<div class="row area">

 <%= link_to resources.name, {controller: "resources", action: "descarga", course: resources.course, id: resources.id}, class: "area" %>


</div>
<% end %>

</div>


<nav class= "footer navbar" >


     <%= link_to "Mis cursos", {controller: "contexts", action: "course", id:  cookies[:userid]}, class:'nav-item  col-lg-6' %>
     <%= link_to "Buscar cursos", {controller: "courses", action: "buscar", id: params[:course]}, class:'nav-item  col-lg-6' %>


</nav>
<% end %>
