<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @course.category %>
</p>

<p>
  <strong>Sortorder:</strong>
  <%= @course.sortorder %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @course.fullname %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @course.shortname %>
</p>

<p>
  <strong>Idnumber:</strong>
  <%= @course.idnumber %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @course.summary %>
</p>

<p>
  <strong>Summaryformat:</strong>
  <%= @course.summaryformat %>
</p>

<p>
  <strong>Format:</strong>
  <%= @course.format %>
</p>

<p>
  <strong>Showgrades:</strong>
  <%= @course.showgrades %>
</p>

<p>
  <strong>Newsitems:</strong>
  <%= @course.newsitems %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @course.startdate %>
</p>

<p>
  <strong>Marker:</strong>
  <%= @course.marker %>
</p>

<p>
  <strong>Maxbytes:</strong>
  <%= @course.maxbytes %>
</p>

<p>
  <strong>Legacyfiles:</strong>
  <%= @course.legacyfiles %>
</p>

<p>
  <strong>Showreports:</strong>
  <%= @course.showreports %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @course.visible %>
</p>

<p>
  <strong>Visibleold:</strong>
  <%= @course.visibleold %>
</p>

<p>
  <strong>Groupmode:</strong>
  <%= @course.groupmode %>
</p>

<p>
  <strong>Groupmodeforce:</strong>
  <%= @course.groupmodeforce %>
</p>

<p>
  <strong>Defaultgroupingid:</strong>
  <%= @course.defaultgroupingid %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @course.lang %>
</p>

<p>
  <strong>Calendartype:</strong>
  <%= @course.calendartype %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @course.theme %>
</p>

<p>
  <strong>Timecreated:</strong>
  <%= @course.timecreated %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @course.timemodified %>
</p>

<p>
  <strong>Requested:</strong>
  <%= @course.requested %>
</p>

<p>
  <strong>Enablecompletion:</strong>
  <%= @course.enablecompletion %>
</p>

<p>
  <strong>Completionnotify:</strong>
  <%= @course.completionnotify %>
</p>

<p>
  <strong>Cacherev:</strong>
  <%= @course.cacherev %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
