<%= stylesheet_link_tag "basePantallas" %>

<nav class="header navbar">
  <li class="nav-item col-md-12"> <%= link_to("Volver", :back)%></li>
</nav>


<%= form_for @forum_post, url: {action: "create"} do |form| %>

  <div class="field">

    <%= form.hidden_field :discussion, :value => cookies[:discusion] %>

    <%= form.hidden_field :parent,  :value =>  cookies[:parent]%>

    <%= form.hidden_field :userid, :value => cookies[:userid] %>

    <%= form.hidden_field :subject, :value => cookies[:subject] %>

    <%= form.hidden_field :created, :value => 0 %>

    <%= form.hidden_field :modified, :value => 0 %>

    <%= form.text_area :message  %>


    <%= submit_tag "Ingresar", :class => "btn btn-primary btn-lg btn-block" %>

  </div>
<% end %>

<nav class= "footer navbar" >

     <li class="nav-item col-lg-6"><%= link_to "Mis cursos", {controller: "contexts", action: "course", id:  cookies[:userid]} %></li>
     <li class="nav-item col-lg-6"><%= link_to "Buscar cursos", {controller: "courses", action: "buscar", id: cookies[:courseId]} %></li>

</nav>
