

<%= stylesheet_link_tag "basePantallas" %>

<nav class="header navbar">
  <li class="nav-item col-md-12"> <%= link_to("Volver", :back)%></li>
</nav>


<%= render 'form', forum_post: @forum_post %>

v<nav class="footer navbar ">



  <nav class= "footer navbar" >
       <%= link_to "Mis cursos", {controller: "contexts", action: "course", id:  cookies[:userid]}, class:'nav-item  col-lg-6' %>
      <%= link_to "Buscar cursos", {controller: "courses", action: "buscar", id: cookies[:courseId]}, class:'nav-item  col-lg-6' %>
  </nav>
