<%= form_for :forum_posts, :url => { :action => :postRespuestas} do |f| %>

<%= stylesheet_link_tag "basePantallas" %>

<nav class="header navbar">
  <li class="nav-item col-lg-6"> <%= link_to("Volver a discusion principal", :back)%></li>
</nav>


<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1> <%= @forum_posts.pluck(:subject)[1] %></h1></div>
</div>




<% @forum_posts.each do |forum_posts| %>

<div class="row">

<div class="col-md-12 titulo"><h1><%= raw forum_posts.message%></h1></div>
</div>
<% end %>

 <%= link_to "Nuevo mensaje", {controller: "forum_posts", action: "new"}, class: 'btn btn-primary btn-lg  btn-block'%>

</div>

 <nav class="footer navbar" >

      <li class="nav-item col-lg-6">Mis Cursos</li>
      <li class="nav-item col-lg-6">Buscar Cursos</li>

 </nav>



<% end %>
