<%= form_for :forum_posts, :url => { :action => :postPorDiscusionPrincipal } do |f| %>

<%= stylesheet_link_tag "basePantallas" %>

<nav class="header navbar">
  <li class="nav-item"> <%= link_to("Volver a discusiones del foro", {controller: "forum_discussions", action:"discusionesPorForo", forum: cookies[:forum]})%></li>
</nav>


<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1> <%= @forum_posts.pluck(:subject)[0] %></h1></div>
</div>

<% @forum_posts.each do |forum_posts| %>

<div class="row">
<div class="col-md-12 titulo"><h1><%= raw forum_posts.message%></h1></div>
</div>
<% end %>

 <%= link_to "Ver todos los mensajes del foro",{ controller: "forum_posts", action: "postRespuestas", discussion:  @forum_posts.pluck(:discussion)}, class: 'btn btn-primary btn-lg  btn-block'%>
<%= link_to "Nuevo mensaje",{controller: "forum_posts", action: "new"}, class: 'btn btn-primary btn-lg  btn-block'%>

</div>

<% end %>

<nav class= "footer navbar" >

     <li class="nav-item col-lg-6"><%= link_to "Mis cursos", {controller: "contexts", action: "course", id:  cookies[:userid]} %></li>
     <li class="nav-item col-lg-6"><%= link_to "Buscar cursos", {controller: "courses", action: "buscar", id: cookies[:courseId]} %></li>

</nav>
