<p id="notice"><%= notice %></p>

<p>
  <strong>Discussion:</strong>
  <%= @forum_post.discussion %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @forum_post.parent %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @forum_post.userid %>
</p>

<p>
  <strong>Created:</strong>
  <%= @forum_post.created %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @forum_post.modified %>
</p>

<p>
  <strong>Mailed:</strong>
  <%= @forum_post.mailed %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @forum_post.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @forum_post.message %>
</p>

<p>
  <strong>Messageformat:</strong>
  <%= @forum_post.messageformat %>
</p>

<p>
  <strong>Messagetrust:</strong>
  <%= @forum_post.messagetrust %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @forum_post.attachment %>
</p>

<p>
  <strong>Totalscore:</strong>
  <%= @forum_post.totalscore %>
</p>

<p>
  <strong>Mailnow:</strong>
  <%= @forum_post.mailnow %>
</p>

<%= link_to 'Edit', edit_forum_post_path(@forum_post) %> |
<%= link_to 'Back', forum_posts_path %>
